#root {
  margin: 0 auto;
  text-align: center;
  width: 100vw;
  height: 100vh;
  color: rgb(161, 161, 161);
}
body{
  width: 100vw;
}
#sidebar{
  background-color: rgba(0,33,43,255);
}
#navbar{
  background-color: rgba(1,56,71,255);
}
#center-preve{
  background-color: rgba(1,64,82,255);
}

