#root {
  margin: 0 auto;
  text-align: center;
  width: 100vw;
  height: 100vh;
  color: rgb(161, 161, 161);
}
body{
  width: 100vw;
}

#navbar{
  background-color: rgba(1,56,71,255);
}
#center-preve{
  background-color: rgba(1,64,82,255);
}

a:hover{
  cursor: pointer;
  color: blanchedalmond;
}
.center{
  height: 140%;
}
.linkdash{
  text-decoration: none;
  color: white;
}
.linkdash:hover{
  text-decoration: none;
  color:black;
}
